<?xml version="1.0" encoding="utf-8" ?>
<MessagingSettings>
    <ServiceUriScheme>sb</ServiceUriScheme>
    <ServiceNamespace>danielkzu</ServiceNamespace>
    <ServicePath></ServicePath>
    <TokenIssuer>owner</TokenIssuer>
    <TokenAccessKey>4q2LqEP9HTlLqGvyhiGxZ0DJGjYEUPfC/zstbSeopuI=</TokenAccessKey>
</MessagingSettings>