.tabs {
	margin: 0; padding: 0;
	}
.tabs__item {
	font-size: 28px;
	font-family: "Segoe UI light", "Arial", sans-serif;
	display: inline;
	margin: 0 30px 0 0;
	padding: 0;
	}
.tabs__item a,.tabs__item a:active,.tabs__item a:visited,.tabs__item a:hover {
	text-decoration: none;
	color: #859a80;
	}
.tabs__item a:hover {
	color: #66ccff;
	}
.tabs__item_active a,.tabs__item_active a:active,.tabs__item_active a:visited,.tabs__item_active a:hover {
	text-decoration: none;
	color: #fff;
	cursor: default;
	}