@model Registration.ReadModel.TotalledOrder
@{
    ViewBag.Title = "Display Order";
}
<h1 class="page__head page__wrapper">Order details</h1>
<div class="page__content">
    <div class="page__wrapper content-main content-main_assignseats">
        <div class="content-main__wrapper">
            <div class="content-main__main">
                <div class="content-main__header">Purchase details</div>
                <div class="content">
                    @Html.Partial("_OrderDetails", this.Model)
                </div>

		        <div class="g-clear"></div>
                <div class="nav content-main__nav">
                    <a class="nav__right" href="@Url.Action("AssignSeats")">
                        Assign seats to attendees
                    </a>
                </div>
            </div>
        </div>

        @*        <div class="content-main__aside">
            <div class="content-main__header">
            </div>
        </div>*@
        <div class="g-clear">
        </div>
    </div>
</div>
