[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.gpState
*.userprefs
[Tt]humbs.db 
_ReSharper.*
*.resharper
TestResults
packages
build/temp
.nuget
UpgradeLog*.XML
_UpgradeReport_Files
/fix-line-endings.ps1
/source/Infrastructure/Azure/Settings.xml
/source/Conference.Azure/csx/
/source/Migrations/MigrationToV2.Azure/csx/
/source/Migrations/MigrationToV3.Azure/csx/
*.build.csdef
*crunch*