@model IEnumerable<Registration.ReadModel.ConferenceAlias>
@{
    ViewBag.Title = "Index";
}
<h1 class="page__head page__wrapper">List of conferences</h1>
<div class="page__content">
    <div class="page__wrapper content-main">
        <p>
            Go to the specific conference page:
        </p>
        <ul>
            @foreach (var conference in Model) {
                <li>@Html.ActionLink(conference.Name, "Display", "Conference", new { conferenceCode = conference.Code }, null)</li>
            }
        </ul>
    </div>
</div>