@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<p>
    Go to the specific conference page (e.g. @Html.ActionLink("Test conference", "Display", "Conference", new { conferenceCode = "pandpsymposium" }, null)).</p>
