@helper ConferenceTitle(string conferenceName, string tagline)
{
<h1 class="page__head page__wrapper">
    @conferenceName
    @if (!string.IsNullOrEmpty(tagline)) {
    <br /><span class="page__head-note">(@tagline)</span>
    }
</h1>
}