.content-main {
    min-height: 355px;
    position: relative;
}
.content-main__wrapper {
    float: left;
    width: 1130px;
    }
    .content-main__main {
        margin: 0 425px 0 250px;
    }
    *:first-child+html .content-main__main {
        zoom:1;
        padding-bottom: 10px;
    }

.content-main__aside {
    float: left;
    width: 250px;
    margin-left: -1130px;
    padding-bottom: 170px;
}
.content-main__extra {
    float: left;
    width: 425px;
    margin-left: -425px;
}

.content-main_register, .content-main_create-conf {width: 1020px;padding: 0;}
.page_conference-seats .content-main__wrapper,
.page_conference .content-main__wrapper,
.page_create-conf .content-main__wrapper,
.content-main_register .content-main__wrapper {
    width: auto;
    float: none;
    }
    *:first-child+html .page_conference .content-main__main,
    *:first-child+html .page_create-conf .content-main__main,
    *:first-child+html .content-main_register .content-main__main {padding: 0; }
    .page_create-conf .content-main__main,
    .content-main_register .content-main__main {
        float: left;
        margin: 0;
        width: 700px;
        }
	.page_conference-seats .content-main__main,
	.page_conference .content-main__main {
        float: none;
        margin: 0;
        width: auto;
        }
.page_conference .content-main__aside,
.page_create-conf .content-main__aside,
.content-main_register .content-main__aside {
    float: right;
    width: 300px;
    margin: 0;
    padding: 0;
}


.content-main__time-n-place {
    height: 175px;
    margin-top: -175px;
    position: absolute;
}

.content-main__header {
    font-size: 28px;
    line-height: 27px;
    height: 40px;
    padding-bottom: 5px;
    font-family: "Segoe UI light", Arial, sans-serif;
    overflow: hidden;
	padding-top: 34px;
}
.content-main__extra-right {
    float: right;
}
.content-main__extra-left {
    float: left;
    width: 260px;
}
.content-main__nav {
    padding: 21px 19px 10px;
}