@{
    ViewBag.Title = "Temporarily unavailable";
}
<h1 class="page__head page__wrapper">Temporarily unavailable</h1>
<div class="page__content">
    <div class="page__wrapper content-main content-main_register">
        <div class="content-main__wrapper">
            <div class="content-main__main">
                <p>The system is undergoing maintenance.<br />
                This shouldn't take long. Please come back in a few minutes.</p>
            </div>
        </div>
    </div>
</div>
