<div class="page__menu menu">
    <ul class="menu__list">
        <li class="menu__item"><a class="menu__back" href="@Url.Action("Index", "Home")"></a></li>
        <li class="menu__item menu__item_active"><a href="@Url.Action("Index", new { slug = ViewBag.Slug })">Conference details</a></li>
        <li class="menu__item"><a href="@Url.Action("Seats", new { slug = ViewBag.Slug })">Seat types</a></li>
        @*<li class="menu__item"><a href="#">Venue Details</a></li>*@
        <li class="menu__item"><a href="@Url.Action("Orders", new { slug = ViewBag.Slug })">Registrations</a></li>
        <li class="menu__item">@*<a href="#">Sessions</a>*@</li>
    </ul>
</div>