@model IEnumerable<Conference.SeatType>

@foreach (var item in Model) {
    <tr data-pkey="@item.Id">
        <td>
            <a href="#makeRowEditable" class="makeRowEditable">@item.Name</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (ViewBag.WasEverPublished) {
                <span title="The conference has been published at least once before. Cannot delete seat types.">Delete</span>
            } else {
                <a href="#deleteRow" class="deleteRow">Delete</a>
            }
        </td>
    </tr>
}
