h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    text-align: left;
    vertical-align: baseline;
    background: transparent;
    font-size: 100%;
    line-height: 16px;}
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0;}
html {
    overflow-x: visible;
    overflow-y: scroll;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Arial", sans-serif;
    font-size: 13px;
    line-height: 16px;
}
label, input[type="button"], input[type="submit"], button {
    cursor: pointer;
}
input, select, button, textarea {
    font-family: "Segoe UI", "Arial", sans-serif;
    margin: 0;
}
input[type="radio"] {
    margin: 0;
}
select {
    height: 22px;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
/*ссылки*/
a{outline: none; color: #fff;text-decoration: underline;}
a:hover {color: #66ccff;}
/*очистка*/
.g-clear {overflow: hidden;clear: both;font-size: 0; height: 0;}

input {
    text-align: left;
}
input[type=tel],
input[type=text],
input[type=number] {
    border-radius: 0;
    -webkit-border-radius: 0;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffaaaa;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #FFFF00;
}

.validation-summary-valid
{
    display: none;
}