@{
    ViewBag.Title = "Maintenance mode";
}
<h1 class="page__head page__wrapper">Maintenance mode</h1>
<div class="page__content">
    <div class="page__wrapper content-main content-main_register">
        <div class="content-main__wrapper">
            <div class="content-main__main">
                <p>We are doing some maintenance. Please come back in a few minutes.</p>
            </div>
        </div>
    </div>
</div>
