@{
    ViewBag.Title = "Fantastic payment processor";
}
<h2>
    Pay</h2>
@using (Html.BeginForm())
{
    <div>
        Item: @this.ViewBag.ItemName</div>
    <div>
        Amount: @this.ViewBag.ItemAmount</div>
    
    @Html.Hidden("ReturnUrl")
    @Html.Hidden("CancelReturnUrl")
    <input type="submit" value="accepted" name="paymentResult" title="Accept"/>
    <input type="submit" value="rejected" name="paymentResult" title="Reject" />
}
