@{
    ViewBag.Title = "Simulated Third-party Payment Clearing Processor";
    Layout = "../Shared/_Layout.cshtml";
}
<h2>
    Pay</h2>
@using (Html.BeginForm())
{
    <div>
        Item: @this.ViewBag.ItemName</div>
    <div>
        Amount: @this.ViewBag.ItemAmount</div>
    <br />
    
    @Html.Hidden("ReturnUrl")
    @Html.Hidden("CancelReturnUrl")
    <input type="submit" value="accepted" name="paymentResult" title="Accept" /><span>&nbsp;
        &nbsp;</span>
    <input type="submit" value="rejected" name="paymentResult" title="Reject" />
}