@model Registration.Commands.AssignRegistrantDetails

<div class="content-main__header">Register</div>
<div class="content">
    @*TODO: fix styling for validation*@
    @Html.ValidationSummary()
                        
    @*<p>Hi, Anton@mail.com!&nbsp;&nbsp;&nbsp;&nbsp;<a href="">Sign Out</a> if not you.</p>*@
    <div class="form">
        @*TODO: Use label for attribute*@
        <fieldset class="form__fieldset">
            <label class="form__label">First Name:<span>*</span></label>
            <div class="form__field">
                @Html.EditorFor(model => model.FirstName)
            </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <label class="form__label">Email address:<span>*</span></label>
            <div class="form__field">
                @Html.EditorFor(model => model.Email)
            </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <label class="form__label">Last Name:<span>*</span></label>
            <div class="form__field">
                @Html.EditorFor(model => model.LastName)
            </div>
        </fieldset>
        <fieldset class="form__fieldset">
            <label class="form__label">Confirm e-mail:<span>*</span></label>
            <div class="form__field">
                <input type="text" data-val="true" data-val-equalto="E-Mail addresses do not match."
                        data-val-equalto-other="Email" data-val-required="Please confirm the e-mail address." />
            </div>
        </fieldset>
        <div class="g-clear"></div>
    </div>
</div>