@{
    ViewBag.Title = "Reservation for " + ViewBag.Conference.Name + " is unknown";
}

@ConferenceHelpers.ConferenceTitle(ViewBag.Conference.Name, ViewBag.Conference.Tagline)

<h2 class="page__head page__wrapper">Cannot determine the state of the registration</h2>
<div class="page__content">
    <div class="page__wrapper content-main">
<p>Please wait until the request is processed. </p> 
<p>The page will refresh automatically in 5 seconds. If this does not happen, please refresh the page by clicking the refresh button in your browser.</p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        setTimeout(function () { window.location.reload(); }, 5000);
    });
</script>