@model Conference.Web.Public.Models.OrderViewModel

@{
    ViewBag.Title = "ReservationUnknown";
}

<h2>Cannot determine the state of the registration</h2>

Please wait until the request is processed.
