@{
    ViewBag.Title = "Reservation for " + ViewBag.Conference.Name + " has been completed";
}
@ConferenceHelpers.ConferenceTitle(ViewBag.Conference.Name, ViewBag.Conference.Tagline)
<h2 class="page__head page__wrapper">
    Your order has been completed</h2>
<div class="page__content">
    <div class="page__wrapper content-main">
        <p>
            You can <a href="@Url.Action("StartRegistration", "Registration", new { conferenceCode = this.ViewBag.Conference.Code })">
                start a new order</a> or go back to the <a href="@Url.Action("Display", "Conference", new { conferenceCode = this.ViewBag.Conference.Code })">
                    conference home page</a>.</p>
    </div>
</div>
