.form {
	
	}
.form__fieldset {
	margin: 0; padding: 0;
	width: 320px;
	}
.form__fieldset:nth-child(odd) {
	float: left;
	}
.form__fieldset:nth-child(even) {
	float: right;
	}
.form__col3 {
	margin: 0 0 0 -20px;
	}
.form__col3 .form__fieldset:first-child {
	float: left;
	width: 170px;
	margin: 0 0 0 20px;
	}
.form__col3 .form__fieldset {
	float: left;
	width: 195px;
	margin: 0 0 0 40px;
	}
.form__fieldset_textarea {
	float: none;
	width: 100%;
	}
.content_login .form__fieldset {
	float: none;
	}
.content_reg .form__fieldset {
	float: none;
	}
.form__label, label {
	font-size: 15px;
	padding: 15px 0 0;
	display: block;
	}
.form__field {
	border: solid 1px #abadb3;
	/*padding: 0 7px 0;*/
	padding: 0 0px 0;
	background: #fff;
	margin: 3px 0 0;
	}
.form__field input {
	width: 100%;
	margin: 0 0 0 0;
	text-align: left;
	border: none; 
    padding: 0 7px;
    /*padding: 0;*/
	font-size: 15px;
	color: #333333;
	height: 24px; line-height: 24px;
	}
.form__field pre {
	width: 100%;
	margin: 0 0 0 0;
	text-align: left;
	border: none;
    padding: 0 7px;
    /*padding: 0;*/
	font-size: 15px;
	color: #777777;
    font-weight: 500;
	height: 24px; line-height: 24px;
    font-family: "Segoe UI", "Arial", sans-serif;
    background-color: #DDDDDD
	}
.form__field textarea {
	height: 117px;
	width: 100%;
	margin: 0 0 0 0;
	text-align: left;
	border: none; 
    padding: 5px 7px;
    /*padding: 5px 0;*/
	font-size: 15px;
	color: #333333;
	line-height: 24px;
	}
.form__field_file {
	width: 229px;
	}
.form__field_file-input {
	position: absolute;
	width: 320px;
	height: 26px;
	margin: -1px 0 0 -8px;
	cursor: pointer;
	}
.form__field_file-input input {
	opacity: 0; filter: alpha(opacity: 0);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	}
.form__field_file-input * {
	cursor: pointer;
	}
.form__rb_m {
	margin: 10px 0 15px 0;
	}
.form__rb {
	
	}
.form__rb__title {
	display: inline;
	font-size: 15px;
	padding: 0 20px 0 0;
	}
.form__rb__item {
	background: url(form__rb__item.png) left 2px no-repeat;
	padding: 0 15px 0 25px;
	font-size: 15px;
	}
.form__rb__item_a {
	background: url(form__rb__item_a.png) left 2px no-repeat;
	}
.form__chb {
	margin: 15px 0 0;
	}
.form__chb_seats {
	line-height: 30px;
	}
.form__chb__item {
	background: url(form__chb__item.png) left 0 no-repeat;
	padding: 0 0 0 35px;
	line-height: 20px;
	font-size: 15px;
	}
.seats__edit .form__chb__item {
	color: #272727;
	}
div.form__chb__item {
	background: url(form__chb__item.png) left 0 no-repeat;
	cursor: pointer;
	display: inline;
	}
.form__chb__item_a {
	background: url(form__chb__item_a.png) left 0 no-repeat;
	}
div.form__chb__item_a {
	background: url(form__chb__item_a.png) left 0 no-repeat;
	}
.form__chb_seats {
	padding: 0 0 0;
	height: 31px;
	line-height: 40px;
	}
.form__chb_remember {
	float: right;
	margin-top: 23px;
	}
.form__seats-select {
	display: inline;
	line-height: 20px;
	font-size: 15px;
	display: none;
	}
.form .form-select-pad {
	top: 0;
	margin: 3px 0 0;
	}
.form-select-pad {
	position: relative;
	top: -5px;
	}
.seats__edit .form-select-pad, .form__seats-select .form-select-pad {
	top: 0;
	display: inline-block;
	}
.form-select {
	border: solid 1px #abadb3;
	position: relative;
	height: 24px;
	min-width: 59px;
	background: #ffffff;
	}
.form__seats-select .form-select {
	display: inline-block;
	}
.form__seats-select .form-select__drop-down {
	background: #b42f03 url(form-select__drop-down.png) 50% 9px no-repeat;
	}
.form-select__drop-down,.form__seats-select_green .form-select__drop-down {
	position: absolute;
	right: 1px;
	top: 1px;
	width: 22px; height: 22px;
	background: #205501 url(form-select__drop-down.png) 50% 9px no-repeat;
	cursor: pointer;
	}
.form-select__active {
	height: 24px;
	line-height: 24px;
	color: #1c2126;
	font-size: 15px;
	padding: 0 30px 0 5px;
	cursor: pointer;
	}
div.form-select__options {
	background: #fff;
	border: solid 1px #abadb3;
	position: absolute;
	left: -1px;
	top: 24px;
	width: 100%;
	max-height: 124px;
	overflow: auto;
	z-index: 1000;
	}
.form-select__options__active-item,.form-select__options__item {
	height: 24px;
	line-height: 24px;
	color: #1c2126;
	font-size: 15px;
	padding: 0 5px 0 5px;
	}
.form-select__options__active-item:hover,.form-select__options__item:hover {
	background: #ddd;
	}
.form-select__options__active-item {
	display: none;
	}
	
.form-select-checkbox {
	position: absolute;
	right: -1px;
	top: 25px;
	background: #ffffff;
	border: solid 1px #abadb3;
	min-width: 200%;
	display: none;
	}
.form-select .form__chb__item {
	background: url(form__select-chb__item.gif) left 0 no-repeat;
	margin-left: 5px;
	line-height: 18px;
	margin-top: 7px;
	margin-bottom: 7px;
	display: block;
	padding: 0 0 2px 30px;
	}
.form-select .form__chb__item_a {
	background: url(form__select-chb__item_a.gif) left 0 no-repeat;
	}

	
.form-promo {
	display: none;
	height: 26px;
	margin: -3px 0 0;
	}
.form-promo__txt {
	width: 175px;
	height: 24px;
	border: solid 1px #abadb3;
	font-size: 15px;
	line-height: 24px;
	color: #1c2126;
	float: left;
	margin-right: 5px;
	padding: 0 7px;
	text-align: left;
	}
.form-promo__but {
	width: 66px;
	height: 26px;
	color: #fff;
	background: #205501;
	font-size: 15px;
	line-height: 26px;
	border: none;
	}
	
.form__but-box {
	margin: 20px 0 0;
	}
.form__but-box_file {
	float: right;
	margin: 3px 0 0;
	}
.form__but {
	background: #205501;
	border: none;
	color: #ffffff;
	font-family: Segoe UI;
	font-size: 15px;
	height: 26px;
	line-height: 16px;
	}
	
.form__forgot-link {
	float: right;
	margin: 25px 0 0;
	font-size: 15px;
	}
	
.form__file-logo {
	position: absolute;
	left: 50%;
	top: 207px;
	margin: 0 0 0 207px;
	width: 140px; height: 140px;
	background: #fff;
	text-align: center;
	}
.form__file-logo__valign {
	display: inline-block;
	height: 140px;
	vertical-align: middle;
	}
.form__file-logo__txt {
	background: #2f7d00;
	opacity: 0.85; filter: alpha(opacity: 85);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 80%;
	color: #ffffff;
	font-size: 18px;
	padding: 9px 10% 12px;
	text-align: left;
	}
	
.datapicker-abs {
	display: none;
	padding: 15px 20px;
	border: solid 1px #fff;
	background: #2f7d00;
	}