@{
    ViewBag.Title = "Index";
}

Welcome to the Contoso Conference Management Portal
<p>
@Html.ActionLink("Access Conference", "Locate", "Conference") | @Html.ActionLink("Create Conference", "Create", "Conference")
</p>